<template>
  <dir>
    <select>
      <option v-for="item in items" :value="item" :key="item">
        {{ item.name }}
      </option>
    </select>
  </dir>
</template>

<script>
export default {
  name: "Foo",

  data() {
    return {
      items: [5, 10, 30, 50],
    };
  },

  props: {
    items: {
      type: Array,
      // default: [5, 10, 30, 50],
    },
  },
};
</script>
